html {
  height: 100%;
  width: 100%;
  background-color: #F6F5F2;
}

.home {
  height: 32px;
  width: 42px;
}

.menstrualcycle {
  height: 32px;
  width: 42px;
}


img {
  width: 15%;
  length: 15%;
  align-items: center;
}

h1 {
  color: #ff47a6;
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 341;
  font-style: normal;
}

ul {
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  background-color: transparent;

  border-radius: 20px;
  padding: 20px;
  justify-content: center;
}

.mainBar {
  background-color: #ffc2d1;
  width: 95%;
  height: 44px;
  display: flex;
  justify-content: space-around;
}

th {
  padding: 20px;
}

p1 {
  color: #FB6F92;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

p {
  color: #FB6F92;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

h2 {

  text-align: center;
  font-family: "Jost";
  color: #FFB3C6;
}

h3 {
  color: #FF8FAB;
  font-family: "Jost";
}

.perc1 {
  color: #F3007E;
}

.slides {
  left: 0;
  top: 0;
  overflow: auto;
  z-index: 1000000;
}

a {
  text-decoration: none;
}

.memespara {
  margin: 25px 50px 75px;
  place-items: center;
  width: 90%;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 35%;
  align-items: center;
}

.parallax-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-attachment: fixed;
  background-image: url('background.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transform: translate3d(0, 0, 0);
  z-index: 1;
}

.parallax-container {
  position: relative;
  overflow: hidden;
  height: 2800px;
  align-items: center;
}

.parallax-text {
  position: relative;
  z-index: 2;
  padding: 90px 30px;
  color: #F3007E;
  text-align: center;
  font-family: "Poppins";
}

.buttonnavbar {
  border: transparent;
  border-radius: 24px;
  width: 60px;
  height: 60px;
  background: transparent;

}

.uiux {
  width: 120%;
  height: 100%;
}

.logo {
  float: left;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}



/*for splash screen*/



.loadinglogo{
  display: flex;
  align-items: center;
   position: relative;
  margin: auto;
  width: 100%;
  height: 100%;
  padding-left:625px;
}


/*mc phases*/
.mens{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   column-gap: 5px;
}
.intromens{
  box-sizing: border-box; 
  border: 2px solid #FF80AB; 
}
.follicularphase{
   display: grid;
   grid-template-columns: 1fr 1fr;
   column-gap: 5px;
}
.introtofc{
  box-sizing: border-box; 
  border: 2px solid #FF80AB; 
}
.ovulat{
   display: grid;
   grid-template-columns: 1fr 1fr;
   column-gap: 5px;
}
.lute{
  display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   column-gap: 5px;
}
.introlute{
  box-sizing: border-box; 
  border: 2px solid #FF80AB; 
}
.effectslute{
  border: 2px solid #F3007E;
  border-radius: 5px;
  border-style: inset;
}
.effectsmen{
  border: 2px solid #F3007E;
  border-radius: 5px;
  border-style: inset;
}
.effectsfollic{
  border: 2px solid #F3007E;
  border-radius: 5px;
  border-style: inset;
}
.symptomslute{
  border: 2px solid #ffc2d1;
  border-radius: 5px;
  border-style: dotted;
}
.symptomsmens{
  border: 2px solid #ffc2d1;
  border-radius: 5px;
  border-style: dotted;
}
.changesinmenstrual{
  border: 2px solid #ffc2d1;
  border-radius: 5px;
  border-style: dotted;
}

.cycle{
  display: grid;
   grid-template-columns: 1fr 1fr;
   column-gap: 5px;
}
.effectsov{
  border: 2px solid #F3007E;
  border-radius: 5px;
  border-style: inset;
}
.introovul{
  box-sizing: border-box; 
  border: 2px solid #FF80AB; 
}
.changeinmenstrualone{
  display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   column-gap: 5px;
}
.changeinmenstrualtwo{
  display: grid;
   grid-template-columns: 1fr 1fr;
   column-gap: 5px;
  
}
/* article 2*/
.article2header {
  color: #FF80AB;
  text-align: center;
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 341;
  font-style: normal;
  font-size: 100px;
}

/* article 1*/
.article1header {
  color: #FF80AB;
  text-align: center;
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 341;
  font-style: normal;
  font-size: 100px;
  padding: 30px;
}


.item{
  width: 100%;
  
}
/*founder page*/

.foun{
  font-size: 15px;
  color: #FF80AB;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}
.founderpic{

  width: 600%;
  height: 600%;
}

.founderin {
 display: grid;
 grid-template-columns: 1fr 1fr ;
 column-gap: 5px;
}

.create{
   display: grid;
   grid-template-columns: 1fr 1fr ;
   column-gap: 50px;
}

.picscreate{

  width: 600%;
  height: 600%;
}
.datavizulmethod{
   display: grid;
   grid-template-columns: 1fr 1fr ;
   column-gap: 50px;

}
.datavizulmethodpic{  
  width: 460%;
 height: 460%;}